# Auto detect text files and perform LF normalization
* text=auto

# mark repo as valve data format instead of rescript
*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=vdf
*.txt linguist-detectable=true linguist-language=vdf
*.vmt linguist-detectable=true linguist-language=vdf

# These filetypes should always have CRLF line endings on checkout
*.res eol=crlf

# make chat_english changes visible
resource/chat_english.txt diff

# Ignore these files when downloading as zip (mostly for when making new releases)
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
